<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Registration</title>
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css"></head>
</head>
<body>

<header>
    <h1>Register</h1>
</header>

<form th:action="@{/register}" th:object="${user}" method="post">

    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}" required>
        <span th:if="${usernameError}" th:text="${usernameError}" style="color: red;"></span>
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required>
        <span th:if="${passwordError}" th:text="${passwordError}" style="color: red;"></span>
    </div>

    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" required>
        <span th:if="${emailError}" th:text="${emailError}" style="color: red;"></span>
    </div>

    <div>
        <label for="state">State:</label>
        <select id="state" th:field="*{state}" required>
            <option value="">-- Select State --</option>
            <option value="CO">Colorado</option>
            <option value="CA">California</option>
        </select>
        <span th:if="${stateError}" th:text="${stateError}" style="color: red;"></span>
    </div>

    <div>
        <button type="submit">Sign Up</button>
    </div>
</form>

</body>
</html>